<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  
  </body>
</html>

1) new_word = word[0].remove
2) new_word + word[0] + ay