<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form action="/action_page.php">
        Enter your phrase:<br>
        <input type="text" name="pig_latin_word"> 
        <input type="submit" value="Submit">
    </form>
  
  </body>
</html>